<template>
    <VueLive :layout="layout" :code="`
        <template>
          <gl-card>
            <template #header>
              <h3 class='gl-my-3 gl-font-weight-bold'>Add code for any Pajamas component here</h3>
            </template>
            <div class='preview-stack gl-display-flex gl-flex-direction-column gl-w-40p'>
              <p>Any valid HTML, CSS or Vue code is also welcome! <span class='gl-text-green-500'><strong>Plus:</strong> GitLab-UI utility classes</span></p>
              <gl-form-checkbox v-model='checked'>Checked Form Checkbox</gl-form-checkbox>
              <gl-button category='primary' variant='confirm'>Confirm</gl-button>
              <a href='https://design.gitlab.com/' target='_blank'>See Pajamas Documentation for components</a>
              <a href='https://unpkg.com/browse/@gitlab/ui@31.5.0/src/scss/utilities.scss' target='_blank'>See list of GitLab-UI utility classes</a>
            </div>
          </gl-card>
        </template>

        <style>
          .preview-stack {
            gap: 16px;
          }
        </style>

        <script>
            let checked = true;

            export default {    
                data(){
                    return {
                        checked
                    }
                }
            }
        </script>

    `" :components="{ GlAccordion,
GlAlert,
GlAvatar,
GlAvatarLabeled,
GlAvatarLink,
GlAvatarsInline,
GlBadge,
GlBanner,
GlBreadcrumb,
GlBroadcastMessage,
GlButton,
GlButtonGroup,
GlCard,
GlCarousel,
GlCollapse,
GlDatepicker,
GlDaterangePicker,
GlDeprecatedDropdown,
GlDrawer,
GlDropdown,
GlDropdownItem,
GlFilteredSearch,
GlForm,
GlFormCheckbox,
GlIcon,
GlInfiniteScroll,
GlKeysetPagination,
GlLabel,
GlLink,
GlLoadingIcon,
GlMarkdown,
GlModal,
GlNav,
GlNavbar,
GlPaginatedList,
GlPagination,
GlPath,
GlPopover,
GlProgressBar,
GlSearchBoxByClick,
GlSearchBoxByType,
GlSegmentedControl,
GlSkeletonLoader,
GlSkeletonLoading,
GlSorting,
GlTable,
GlTabs,
GlTab,
GlToast,
GlToggle,
GlToken,
GlTokenSelector,
GlTooltip }" @error="(e) => handleError(e)" />
</template>

<script>
import { VueLive } from "vue-live";
import layout from "./Layout.vue";

import setConfigs from '@gitlab/ui/dist/config';
setConfigs();
import { GlAccordion,
GlAlert,
GlAvatar,
GlAvatarLabeled,
GlAvatarLink,
GlAvatarsInline,
GlBadge,
GlBanner,
GlBreadcrumb,
GlBroadcastMessage,
GlButton,
GlButtonGroup,
GlCard,
GlCarousel,
GlCollapse,
GlDatepicker,
GlDaterangePicker,
GlDeprecatedDropdown,
GlDrawer,
GlDropdown,
GlDropdownItem,
GlFilteredSearch,
GlForm,
GlFormCheckbox,
GlIcon,
GlInfiniteScroll,
GlKeysetPagination,
GlLabel,
GlLink,
GlLoadingIcon,
GlMarkdown,
GlModal,
GlNav,
GlNavbar,
GlPaginatedList,
GlPagination,
GlPath,
GlPopover,
GlProgressBar,
GlSearchBoxByClick,
GlSearchBoxByType,
GlSegmentedControl,
GlSkeletonLoader,
GlSkeletonLoading,
GlSorting,
GlTable,
GlTabs,
GlTab,
GlToast,
GlToggle,
GlToken,
GlTokenSelector,
GlTooltip } from '@gitlab/ui';
import '@gitlab/ui/dist/index.css';
import '@gitlab/ui/dist/utility_classes.css';
import "prismjs/themes/prism-tomorrow.css";


// if you are using vue-cli, you have to import the css separately
import "vue-live/lib/vue-live.esm.css";

export default {
    components: { VueLive },
    data(){
        return {
            layout,
            GlAccordion,
            GlAlert,
            GlAvatar,
            GlAvatarLabeled,
            GlAvatarLink,
            GlAvatarsInline,
            GlBadge,
            GlBanner,
            GlBreadcrumb,
            GlBroadcastMessage,
            GlButton,
            GlButtonGroup,
            GlCard,
            GlCarousel,
            GlCollapse,
            GlDatepicker,
            GlDaterangePicker,
            GlDeprecatedDropdown,
            GlDrawer,
            GlDropdown,
            GlDropdownItem,
            GlFilteredSearch,
            GlForm,
            GlFormCheckbox,
            GlIcon,
            GlInfiniteScroll,
            GlKeysetPagination,
            GlLabel,
            GlLink,
            GlLoadingIcon,
            GlMarkdown,
            GlModal,
            GlNav,
            GlNavbar,
            GlPaginatedList,
            GlPagination,
            GlPath,
            GlPopover,
            GlProgressBar,
            GlSearchBoxByClick,
            GlSearchBoxByType,
            GlSegmentedControl,
            GlSkeletonLoader,
            GlSkeletonLoading,
            GlSorting,
            GlTable,
            GlTabs,
            GlTab,
            GlToast,
            GlToggle,
            GlToken,
            GlTokenSelector,
            GlTooltip         
            }
    }
}
</script>
